global:
  slack_api_url: {{ slack_webhook }}

templates:
  - /opt/prometheus/alertmanager.tmpl

route:
 # Default
 receiver: 'slack_notifications'
 group_by: ['alertname', 'job', 'group']

 routes:
  # Handle critical alerts
  - match:
      severity: critical
    receiver: slack_critical

receivers:
# Just a notification
- name: slack_notifications
  slack_configs:
  - channel: '#{{ slack_channel }}'
    send_resolved: true
    {% raw %}
    title_link: '{{ template "slack_link" . }}'
    text: '{{ template "slack_title" . }}{{ template "slack_description" . }}'
    {% endraw %}
# add a channel if critical
- name: slack_critical
  slack_configs:
  - channel: '#{{ slack_channel }}'
    send_resolved: true
    {% raw %}
    title_link: '{{ template "slack_link" . }}'
    text: '{{ template "slack_title" . }}{{ template "slack_description" . }}'
    {% endraw %}
